/*use element selector to select all p elements for this style*/
p{
    color: maroon;
    font-size: 14px;
}

footer{
    font-size: 12px;
    color: navy;
}

h3{   
    text-align: center;   
}

h2{   
    text-decoration: underline;  
}

thead{   
    font-size: 18px;
    text-decoration: underline;
}

tbody{   
    font-size: 14px;
}

.about{
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
    color: blue;
}

.login_container
{
    font-size: 12px;
    color: blue;
    width: 500px;
    margin: 18px auto;
    border: 2px solid black;
    border-radius: 15px;
    background: linear-gradient(to right, rgba(0,0,255,0.2), rgba(0,0,255,0.5));
    padding: 8px;
}

.loginbody_container
{
    font-size: 12px;
    color: blue;
    /*width: 1000px;*/
    margin: 18px auto;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(0,0,255,0.2), rgba(0,0,255,0.5));
    padding: 20px;
}