<div class="loginbody_container">
    <h1 class="about">Ankkalinna</h1>
        <h2>Modify contact info</h2>
    <nav id="head"></nav>
    <h4>Name</h4>
    <input id='name' type='text' ng-model= "modifyPerson.personname"/><br>
    <h4>Address</h4>
    <input id='address' type='text' ng-model= "modifyPerson.personaddress"/><br>
    <h4>Age</h4>
    <input id='age' type='text' ng-model= "modifyPerson.personage"/><br><br>
    <input type='button' class='btn btn-default' value='Update' ng-click='updateClicked()'/>
    <input type='button' class='btn btn-default' value='Delete' ng-click='deleteClicked()'/>
    <input type='button' class='btn btn-default' value='Cancel' ng-click='cancelClicked()'/>
</div>