<h1>Add new contact info</h1>
<form>   
    <h4>Name:</h4>
    <input type="text" required placeholder="Full name" ng-model="name"/><br>
    <h4>Address:</h4>
    <input type="text"  placeholder="Full address" ng-model="address" /><br>
    <h4>Age:</h4>
    <input type="number" placeholder="Age" min="0" ng-model="age" /><br><br>
    <input type="button" class="btn btn-default" value="Add" ng-click='addClicked()'/>
    <input type="button" class="btn btn-default" value="Cancel" ng-click='cancelClicked()'/>    
</form>