<div class="login_container">
    <h3>Login or Register to Ankkalinna App!</h3>
    <form>
    <input type="text" placeholder="username" class="form-control" ng-model="user"><br>
    <input type="password" placeholder="password" class="form-control" ng-model="pass"><br>
    <input type="button" class="btn btn-default" value="Login" ng-click='loginClicked()'>
    <input type="button" class="btn btn-default" value="Register" ng-click='registerClicked()'>
    <!--bind the data from username textfield (use the variable 'user')-->
    <!-- <p>{{user}}</p>-->
    </form>
</div>
    